<section class="services d-flex align-items-center py-5" id="services">
    <div class="container text-light">
        <div class="text-center pb-4">
          <p>MOŻLIWOŚCI EXAM PORTAL</p>
          <h2 class="py-2">MOŻLIWOŚCI</h2>
          <p class="para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.</p>
        </div>    
        <div class="row gy-4 py-2 aos-init aos-animate" data-aos="zoom-in">
            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-home fa-2x"></i>
                    <h4 class="py-2">TWORZENIE KURSÓW</h4>
                    <p class="para-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam odit consequatur doloribus natus in suscipit!</p>
                </div>
            </div>  
            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-wifi fa-2x"></i>
                    <h4 class="py-2">TWORZENIE EGZAMINÓW</h4>
                    <p class="para-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam odit consequatur doloribus natus in suscipit!</p>
                </div>                    
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-phone fa-2x"></i>
                    <h4 class="py-2">HOME BROADBAND</h4>
                    <p class="para-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam odit consequatur doloribus natus in suscipit!</p>
                </div>                    
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </section>
  