/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* Provide sufficient contrast against white background */



a {
  color: #0366d6;
}

h1 {
  color: #22c284;
}

code {
  color: #e01a76;
}

.btn-exam {
  color: rgb(221, 80, 80);
  background-color: #69ac7d;
  border-color: #1861ac;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

