<!-- Starting Informations -->
<section class="home py-5 d-flex align-items-center" id="header">
  <div class="container text-light py-5 aos-init aos-animate" data-aos="fade-right"> 
      <h1 class="headline"><span class="home_text">ExamPortal</span></h1>
      <h2 class="headline"><br>Portal Egzaminacyjny Politechniki Gdańskiej</h2>
      <p class="para para-light py-3">Przyjazne miejsce dla wykładowców i studentów do sprawdzania wiedzy!</p>
      
      <div class="my-3">
          <a class="btn btn-sm" href="/about">Dowiedź się więcej!</a>
      </div>
  </div> <!-- end of container -->
</section>

