<div class="container text-light py-5 aos-init aos-animate" data-aos="fade-right"> 
    <div class="text-center pb-4 mt-3">
        <h2 class="headline"><span class="home_text">Kreator Kursu</span></h2>  
    </div> 
</div> 

<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup" label="Wprowadź nazwę kursu">
        <form [formGroup]="firstFormGroup">
            <mat-form-field appearance="fill">
              <mat-label>Nazwa</mat-label>
              <input matInput placeholder="Nazwa" formControlName="courseName" [(ngModel)]='courseNameValue' required>
            </mat-form-field>
            <div>
                <button class="btn btn-sm">Wróć</button> <!-- dodać link do course-list -->
                <button class="btn btn-sm" matStepperNext>Dalej</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Przypisz studentów">
        <form [formGroup]="secondFormGroup">
            <p>Tu będzie lista użytkowników</p>
            <div>
                <button class="btn btn-sm" matStepperPrevious>Wróć</button>
                <button class="btn btn-sm" matStepperNext>Dalej</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Gotowe">
        <p>Nazwa kursu: {{ courseNameValue }}</p>
        <p>Liczba przypisanych studentów: 0</p>
        <div>
            <button class="btn btn-sm" matStepperPrevious>Wróć</button>
            <button class="btn btn-sm" (click)="addCourseClick()">Zapisz</button>
        </div>
    </mat-step>
</mat-stepper>
  