<div class="container text-light py-5 aos-init aos-animate" data-aos="fade-right"> 
    <div class="text-center pb-4 mt-3">
        <h2 class="headline"><span class="home_text">Widok kursu</span></h2>  
    </div> 
</div> 

<!-- ADD CENTRAL LOCALIZATION OF BAR -->
<section class="services-00 d-flex align-items-center py-5" id="services">
    <div class="container text-light">
        <mat-progress-bar mode="indeterminate" *ngIf="!course"></mat-progress-bar>
        <mat-tab-group *ngIf="course">
            <mat-tab label="Ogólne"> 
                <p>Nazwa: {{ course.name }}</p>
                <p>Data utworzenia: {{ course.creationDate | date: 'dd/MM/yyyy' }}</p>
                <p>Przypisanych studentów: {{ course.users ? course.users.length : "N/A" }}</p>
            </mat-tab>
            <mat-tab label="Przypisani studenci"> 
                <p *ngIf="!course.users || course.users.length == 0">Brak przypisanych studentów.</p>
                <app-students-list-template *ngIf="course.users.length > 0" [users]="course.users"></app-students-list-template>
            </mat-tab>
        </mat-tab-group>
        <button class="btn btn-sm" [routerLink]="['/teacher/courses-list']">Wróć</button>
    </div> <!-- end of container -->
</section>
