<div class="container">
    <div class="row justify-content-md-left ">
      <div class="col-md-auto">
        <h1>Exam Creator</h1>
      </div>
    </div>
    <div class="row justify-content-md-left">
        <div class="border">
            <div class="col-md-3">
                <p>Exam</p>
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-dark">Edit</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-left">
        <div class="border">
            <div class="col-md-3">
                <p> </p>
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-dark">New</button>
            </div>
        </div>
      </div>
  </div>
  