<div class="container text-light py-5 aos-init aos-animate" data-aos="fade-right"> 
    <div class="text-center pb-4">
        <h2 class="headline"><span class="home_text">Kreator</span></h2>  
    </div> 
</div> 

<div class="container">
    <div class="row justify-content-md-left">
        <div class="border">
            <div class="col-md-3">
                <p>Exam</p>
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-dark">Edit</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-left">
        <div class="border">
            <div class="col-md-3">
                <p> </p>
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-dark">New</button>
            </div>
        </div>
      </div>
  </div>
  