<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + this.paginator.pageIndex * this.paginator.pageSize + 1 }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tytuł</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Data rozpoczęcia</th>
        <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy h:mm'}} </td>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>Data zakończenia</th>
        <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/yyyy h:mm'}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <a *ngFor="let action of actions" [routerLink]="[action.url, element.sessionId]">
                <mat-icon matTooltip="{{ action.tooltip }}">{{ action.actionType }}</mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
</mat-paginator>
