<!-- Starting Informations -->
<section class="home py-5 d-flex align-items-center" id="header">
  <div class="container text-light py-5 aos-init aos-animate" data-aos="fade-right"> 
      <h1 class="headline"><span class="home_text">ExamPortal</span></h1>
      <h2 class="headline"><br>Portal Egzaminacyjny Politechniki Gdańskiej</h2>
      <p class="para para-light py-3">Przyjazne miejsce dla wykładowców i studentów do sprawdzania wiedzy!</p>
      
      <div class="my-3">
          <a class="btn" href="/about">Dowiedź się więcej!</a>
      </div>
  </div> <!-- end of container -->
</section>

<!-- Progress Informations -->
<section class="work d-flex align-items-center py-5">
  <div class="container-fluid text-light">
      <div class="row">
          <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="fade-right">
              <img class="img-fluid" src="./assets/images/work.jpg" alt="work">        
          </div>
          <div class="col-lg-5 d-flex align-items-center px-4 py-3 aos-init aos-animate" data-aos="">
              <div class="row">
                  <div class="text-center text-lg-start py-4 pt-lg-0">
                      <p>NASZE POSTĘPY</p>
                      <h2 class="py-2">Zrobiliśmy kolejny krok!</h2>
                      <p class="para-light">Oto aktualne statystyki naszego portalu. Działaj z nami. Do dzieła!</p>
                  </div>
                  <div class="container aos-init aos-animate" data-aos="fade-up">
                      <div class="row g-5">
                          <div class="col-6 text-start">
                              <i class="fas fa-briefcase fa-2x text-start"></i>
                              <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1258" data-purecounter-duration="0">1258</h2>
                              <p>UTWORZONYCH KURSÓW</p>
                          </div>
                          <div class="col-6">
                              <i class="fas fa-award fa-2x"></i>
                              <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="0">150</h2>
                              <p>WYKONANYCH EGZAMINÓW/p>
                          </div>
                          <div class="col-6">
                              <i class="fas fa-users fa-2x"></i>
                              <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1255" data-purecounter-duration="0">1255</h2>
                              <p>ZAREJESTROWANYCH UZYTKOWNIKÓW</p>
                          </div>
                          <div class="col-6">
                              <i class="fas fa-clock fa-2x"></i>
                              <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1157" data-purecounter-duration="0">1157</h2>
                              <p>NADCHODZĄCYCH EGZAMINÓW</p>
                          </div>
                      </div>
                  </div> <!-- end of container -->
              </div> <!-- end of row -->
          </div> <!-- end of col-lg-5 -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</section>

