<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark top-nav-collapse" aria-label="Main navigation">
  <div class="container">
    <a class="navbar-brand logo-text" [routerLink]="['/']">ExamPortal</a>
    <button
      class="navbar-toggler p-0 border-0"
      type="button"
      id="navbarSideCollapse"
      data-toggle="collapse"
      data-target=".navbar-collapse"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="isExpanded"
      (click)="toggle()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse offcanvas-collapse" id="navbarsExampleDefault" [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <!-- Button About -->
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/about']">O projekcie</a>
        </li>
        <ng-container *ngIf="authService.isUserAuthenticated() && authService.userRole == userTypes.Admin">
          <li *ngFor="let item of teacher_items | keyvalue" class="nav-item">
            <a class="nav-link" [routerLink]="[item.value]">{{ item.key }}</a>
          </li>
        </ng-container>

        <ng-container *ngIf="authService.isUserAuthenticated() && authService.userRole == userTypes.User">
          <li *ngFor="let item of student_items | keyvalue" class="nav-item">
            <a class="nav-link" [routerLink]="[item.value]">{{ item.key }}</a>
          </li>
        </ng-container>
        <!-- Button Profile -->
        <li *ngIf="authService.isUserAuthenticated()" class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']">Profil</a>
        </li> 
        <!-- Button Login -->
        <li *ngIf="!authService.isUserAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/login']">Logowanie</a>
        </li>
        <!-- Button Registration -->
        <li *ngIf="!authService.isUserAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/registration']">Rejestracja</a>
        </li>
        <!-- Button Logout -->
        <li *ngIf="authService.isUserAuthenticated()" class="nav-item">
          <a class="nav-link" (click)="logout()">Wyloguj</a>
        </li> 
      </ul>
      <span class="nav-item social-icons">
        <span class="fa-stack">
            <a href="https://pg.edu.pl/">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x"></i>
            </a>
        </span>
      </span>
    </div>
  </div>
</nav>