<ng-container *ngIf="_question">
    <h3>{{ _question.title }}</h3>
    <img *ngIf="image" [attr.src]="image">
    <form class="answer-form" [formGroup]="formGroup" #questionForm="ngForm" autocomplete="off">
        <ng-container *ngFor="let value of _question.values">
            <p>{{ value.text }}</p>  
            <mat-form-field class="answer-full-width" appearance="fill">
                <input matInput formControlName="formId_{{ value.sortId }}" [errorStateMatcher]="matcher">
                <mat-error *ngIf="formGroup.get('formId_' + value.sortId).invalid">
                    Wartość w nieprawidłowym formacie.
                </mat-error>
            </mat-form-field>
        </ng-container>
        <br />
        <button *ngIf="!answerSent" class="btn btn-sm btn-block" (click)="onSubmit()">Zapisz</button>
        <ng-container *ngIf="answerSent">
            <button class="btn btn-sm btn-block" disabled>Zapisz</button>
            <label style="margin-left: 10px;">Odpowiedź zapisana. Poczekaj na następne pytanie.</label>
        </ng-container>
    </form>
</ng-container>