<h1>Lista sesji egzaminów:</h1>
<table mat-table [dataSource]="examSessions" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Tytuł </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Czas trwania </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="questionsNumber">
        <th mat-header-cell *matHeaderCellDef> Liczba pytań </th>
        <td mat-cell *matCellDef="let element"> {{element.questionsNumber}} </td>
    </ng-container>

     <!-- Symbol Column -->
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef> Aktywny </th>
        <td mat-cell *matCellDef="let element"> {{element.available}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon>description</mat-icon>
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
