.question-text {
    font-weight: bold;
    font-size: large;
}

.mat-expansion-panel-header-title {
    min-width: 80%;
}

.exam-info {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 15px;
}