<h1>Widok kursu</h1>
<mat-progress-bar mode="indeterminate" *ngIf="!course"></mat-progress-bar>
<mat-tab-group *ngIf="course">
    <mat-tab label="Ogólne"> 
        <p>Nazwa: {{ course.name }}</p>
        <p>Data utworzenia: {{ course.creationDate }}</p>
        <p>Przypisanych studentów: {{ course.users.length }}</p>
        <p>Przypisane egzaminy: {{ course.sessions.length }}</p>
    </mat-tab>
    <mat-tab label="Przypisani studenci"> 
        <p *ngIf="course.users.length == 0">Brak przypisanych studentów.</p>
        <p *ngIf="course.users.length > 0">Not implemented.</p>
    </mat-tab>
    <mat-tab label="Przypisane egzaminy"> 
        <p *ngIf="course.sessions.length == 0">Brak przypisanych egzaminów.</p>
        <p *ngIf="course.sessions.length > 0">Not implemented.</p>
    </mat-tab>
</mat-tab-group>
  
