<ng-container *ngIf="actualQuestion && !examFinished">
  <div class="container text-light py-5 aos-init aos-animate" data-aos="fade-right"> 
    <div class="text-center pb-4 mt-3">
        <h2 class="headline"><span class="home_text">Rozwiąż</span></h2>  
    </div> 
  </div>
  
  <section class="services-00 d-flex align-items-center py-5" id="services">
    <div class="container text-light">
      <app-timer-template [time]="actualTime"></app-timer-template>

      <app-open-question-template 
        *ngIf="actualQuestion.type === 'Opened'" 
        [question]="actualQuestion" 
        (answerSet)="onAnswer($event)">
      </app-open-question-template>
      <app-closed-question-template 
        *ngIf="actualQuestion.type === 'Closed'" 
        [question]="actualQuestion"
        (answerSet)="onAnswer($event)">
      </app-closed-question-template>
      <app-yes-no-question-template 
        *ngIf="actualQuestion.type === 'Yes-No'" 
        [question]="actualQuestion"
        (answerSet)="onAnswer($event)">
      </app-yes-no-question-template>

    </div> <!-- end of container -->
  </section>
</ng-container>

<ng-container *ngIf="examFinished">
  <div class="container text-light py-5 aos-init aos-animate" data-aos="fade-right"> 
    <div class="text-center pb-4 mt-3">
        <h2 class="headline"><span class="home_text">Egzamin zakończył się</span></h2>  
    </div> 
  </div>
  
  <section class="services-00 d-flex align-items-center py-5" id="services">
    <div class="container text-light">
      <h2>Wyniki egzaminu zostaną udostępnione po ocenie przez egzaminatora.</h2>
      <br />
      <button class="btn btn-sm top-buffer" [routerLink]="['/student/exams-list']">Lista egzaminów</button>
    </div> <!-- end of container -->
  </section>
</ng-container>
