<div class="container text-light py-5 aos-init aos-animate" data-aos="fade-right"> 
    <div class="text-center pb-4 mt-3">
        <h2 class="headline"><span class="home_text">O projekcie</span></h2>  
    </div> 
</div> 

<section class="services-00 d-flex align-items-center py-5" id="services">
    <div class="container text-light">
        <div class="text-center pb-4">
          <h2 class="py-2">Założenia</h2>
          <p class="para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.
          </p>
        </div>    
    </div> <!-- end of container -->
  </section>


<section class="services-00 d-flex align-items-center py-5" id="services">
    <div class="container text-light">
        <div class="text-center pb-4">
          <h2 class="py-2">Możliwości</h2>
          <p class="para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.</p>
        </div>    
        <div class="row gy-4 py-2 aos-init aos-animate" data-aos="zoom-in">
            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-home fa-2x"></i>
                    <h4 class="py-2">TWORZENIE KURSÓW</h4>
                    <p class="para-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam odit consequatur doloribus natus in suscipit!</p>
                </div>
            </div>  
            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-wifi fa-2x"></i>
                    <h4 class="py-2">TWORZENIE EGZAMINÓW</h4>
                    <p class="para-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam odit consequatur doloribus natus in suscipit!</p>
                </div>                    
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-phone fa-2x"></i>
                    <h4 class="py-2">HOME BROADBAND</h4>
                    <p class="para-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam odit consequatur doloribus natus in suscipit!</p>
                </div>                    
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </section>
  
  
<!-- Progress Informations -->
<section class="services-00 d-flex align-items-center py-5" id="services">
    <div class="container text-light">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="fade-right">
                <img class="img-fluid" src="/assets/assets/images/work.jpg" alt="work">        
            </div>
            <div class="col-lg-5 d-flex align-items-center px-4 py-3 aos-init aos-animate" data-aos="">
                <div class="row">
                    <div class="text-center text-lg-start py-4 pt-lg-0">
                        <h2 class="py-2">Postępy</h2>
                        <p class="para-light">Oto aktualne statystyki naszego portalu.</p>
                    </div>
                    <div class="container aos-init aos-animate" data-aos="fade-up">
                        <div class="row g-5">
                            <div class="col-6 text-start">
                                <i class="fas fa-briefcase fa-2x text-start"></i>
                                <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1258" data-purecounter-duration="0">1258</h2>
                                <p>UTWORZONYCH KURSÓW</p>
                            </div>
                            <div class="col-6">
                                <i class="fas fa-award fa-2x"></i>
                                <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="0">150</h2>
                                <p>WYKONANYCH EGZAMINÓW</p>
                            </div>
                            <div class="col-6">
                                <i class="fas fa-users fa-2x"></i>
                                <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1255" data-purecounter-duration="0">1255</h2>
                                <p>ZAREJESTROWANYCH UZYTKOWNIKÓW</p>
                            </div>
                            <div class="col-6">
                                <i class="fas fa-clock fa-2x"></i>
                                <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1157" data-purecounter-duration="0">1157</h2>
                                <p>NADCHODZĄCYCH EGZAMINÓW</p>
                            </div>
                        </div>
                    </div> <!-- end of container -->
                </div> <!-- end of row -->
            </div> <!-- end of col-lg-5 -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </section>